doctype html
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title TINYURL
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-title', content='Membership')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='apple-touch-icon-precomposed', href='apple-touch-icon.png')
    link(rel='stylesheet', href='main.css')

  body
    section#features.container
      .inner
        // Header
        h1.header.light.gray1
          | Fastest way to reduce 
          span.colored.fancy URL
          |  size.
        // Description
        p.h-desc.gray2
          | Enter your 
          span.colored.bold URL 
          |  to reduce.
        div.row
            form(action="/", method="POST")
                input(type="url", name="url" size=100)
                input(type="submit", value="Submit")